@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #0b132a;
}

ul {
	list-style-type: none;
}

p {
	line-height: 30px;
	color: #4f5665;
}

.bold {
	font-weight: bold;
}

.medium {
	font-weight: 500;
}

.mo {
	color: #4f5665;
	font-weight: normal;
}

.nav-links {
	font-size: 16px;
	color: #4f5665;
}

nav {
	flex: 2;
	margin-right: 2em;
}

.logo-text {
	font-weight: 500;
	font-size: 20px;
}

.logo-img {
	margin-right: 10px;
}

.navbar {
	height: 130px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: auto;
}

.navleft {
	flex: 1;
	display: flex;
	align-items: center;
}

.nav-sign {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: 500;
}

.sign-in {
	margin-right: 1em;
}

.navbar-center {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
}

.sign-up {
	color: #f53855;
	font-size: 16px;
	font-weight: 500;
}

.sign-btn {
	height: 45px;
	width: 150px;
	border: 2px solid #f53855;
	background-color: white;
	border-radius: 25px;
	text-align: center;
	font-weight: 500;
	cursor: pointer;
}

.presentation {
	display: flex;
	width: 80%;
	margin: auto;
	padding-bottom: 4em;
	align-items: center;
}

.presentation-h1 {
	font-weight: 500;
	font-size: 50px;
	line-height: 70px;
	width: 90%;
	margin-bottom: 15px;
}

.presentation-btn {
	font-family: inherit;
	margin-top: 25px;
	background: #f53838;
	width: 250px;
	height: 60px;
	border: none;
	border-radius: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	transition: 0.5s;
}

.presentation-btn:hover {
	box-shadow: 0px 25px 60px rgba(245, 56, 56, 0.61);
}

.shadow-btn {
	box-shadow: 0px 20px 60px rgba(245, 56, 56, 0.61);
}

.rounded-btn {
	border-radius: 50px;
	padding: 1em;
	width: 100%;
	height: 4em;
}

.unselected-btn {
	color: #f53838;
	border: 2px solid #f53838;
	background-color: white;
}

.presentation-right {
	width: 95%;
}

.presentation-right img {
	margin: auto;
}

.info-div {
	width: 80%;
	margin: auto;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 40px 20px rgba(0, 0, 0, 0.06);
}

.info-element {
	display: flex;
	padding: 5em 0;
}

.info-element-desc h2,
.info-element-desc p {
	margin: 0 0 0 30px;
}

.feature {
	width: 80%;
	margin: auto;
	margin-top: 6em;
	display: flex;
	align-items: center;
	padding-bottom: 5em;
}

.feature-left {
	flex: 1;
}

.feature-left img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.feature-right {
	flex: 1;
	margin: 0 0 0 4em;
}

.feature h1 {
	font-weight: 500;
	max-width: 60%;
	line-height: 50px;
}

.feature-p {
	display: flex;
	font-size: 14px;
}

.feature-p p {
	margin-left: 1em;
}

.feature-desc {
	max-width: 75%;
	margin-left: 0;
}

.feature-p-container {
	margin-top: 1.5em;
}

.plan-container,
.map-container,
.sponsors-container {
	background: #f6f6f6;
}

.plan-header {
	max-width: 90%;
	margin: auto;
	text-align: center;
	padding: 3em 0;
}

.plan-header h1 {
	font-weight: 500;
}

.plans {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-evenly;
}

.plan {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border: 2px solid #dddddd;
	border-radius: 10px;
	transition: 0.3s;
	padding: 4em;
}

.plan:hover {
	border-color: #f53838;
}

.plan h2 {
	margin: 0;
}

.plan-img {
	margin: 2em 0;
}

.plan-desc {
	margin: 2em 0;
}

.plan-desc p {
	line-height: 0.8em;
}

.plan-el {
	display: flex;
}

.plan-el img {
	margin-right: 1em;
}

.plan-select {
	width: 100%;
	text-align: center;
	margin-top: auto;
}

.map-container h2 {
	margin: 0 auto;
}

.map-header {
	width: 80%;
	margin: auto;
	padding: 5em 0;
	text-align: center;
}

.map-header h2 {
	font-size: 2rem;
	font-weight: 500;
}

.map-illustration img {
	display: block;
	margin: 0 auto;
	max-width: 90%;
	padding-bottom: 2em;
}

.sponsors-container img {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.reviews-container {
	background-color: #f6f6f6;
	padding-bottom: 13em;
}

.reviews-text {
	text-align: center;
	padding: 2em 0;
}

.reviews-text h2 {
	font-size: 2rem;
}

.rev-card {
	border: 2px solid #dddddd;
	border-radius: 10px;
	transition: 0.3s;
	width: 30em;
	margin: auto;
	background-color: white;
	padding: 2em;
}

.rev-card p {
	margin: 0;
}

.rev-card:hover {
	border-color: #f53838;
}

.rev-header {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}

.rev-location {
	font-size: 0.9rem;
}

.rev-header p {
	line-height: inherit;
}

.rev-profile {
	margin-right: 1em;
}

.rev-name {
	font-size: 1.1rem;
	font-weight: 500;
	color: #0b132a;
}

.rev-desc {
	color: #0b132a;
	font-size: 1rem;
	margin-top: 2em;
}

.rev-star {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.subscribe-container {
	width: 80%;
	margin: auto;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 4em;
	box-shadow: 0 40px 20px rgba(0, 0, 0, 0.06);
	position: relative;
	left: 0;
	right: 0;
	bottom: 7.5em;
	background-color: white;
}

.subscribe-text h2 {
	font-size: 2rem;
	font-weight: 500;
	max-width: 90%;
	line-height: 3rem;
}

.footer {
	background-color: #e7e7e7;
}

.footer-container {
	width: 80%;
	display: flex;
	margin: auto;
	justify-content: space-around;
	padding: 5em 0 3em 0;
}

.footer-icons {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.footer-left {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.footer-lighter {
	color: #afb5c0;
}

.footer-logo {
	display: flex;
	align-items: center;
}

.footer-right {
	flex: 2;
	display: flex;
	justify-content: space-around;
}

.footer-right h2 {
	margin: 0 0 1.5em 0;
}

.footer-links {
	display: flex;
	flex-direction: column;
}

.footer-links a {
	margin-bottom: 2em;
	color: #4f5665;
}

.burger {
	display: none;
}

.burger div {
	width: 25px;
	height: 3px;
	margin: 5px;
	border-radius: 2px;
	background-color: #4f5665;
}

@media (max-width: 1050px) {
	.presentation {
		flex-direction: column;
	}

	.presentation-left {
		text-align: center;
	}

	.presentation-right {
		display: none;
	}

	.presentation-h1 {
		margin: auto;
	}

	.feature {
		flex-direction: column;
	}

	.feature h1,
	.feature p {
		max-width: 100%;
	}

	.feature-p-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.feature-right {
		margin: 1em 0 0 0;
		text-align: center;
	}

	.plans {
		flex-direction: column;
	}

	.plan {
		margin-bottom: 2em;
	}

	.burger {
		display: block;
		cursor: pointer;
		margin-right: 0.6em;
	}

	.navbar-center {
		width: 100%;
		position: absolute;
		padding-bottom: 1em;
		flex-direction: column;
		font-size: 2rem;
		left: 0;
		background-color: white;
		align-items: flex-start;
		transform: translateX(-130%);
		transition: transform 0.5s ease;
	}

	body {
		overflow-x: hidden;
	}
}

@media (max-width: 480px) {
	.navbar {
		width: 80%;
		height: 100px;
	}

	.sign-in {
		display: none;
	}

	.sign-up {
		font-size: 0.9rem;
	}

	.sign-btn {
		width: 100%;
		padding: 0 2em;
	}

	.presentation-left {
		margin: 0;
	}

	.feature-left img {
		display: none;
	}

	.info-div {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.info-element {
		flex-direction: column;
		align-items: center;
		padding: 3em 0;
	}

	.info-element img {
		width: 7em;
		margin-bottom: 1em;
	}

	.info-element-desc h2,
	.info-element-desc p {
		margin: 0;
		font-size: 2rem;
	}

	.feature h1,
	.feature p {
		max-width: 100%;
	}

	.feature-right {
		margin: 0;
	}

	.plan {
		padding: 2em;
	}

	.plan h2 {
		font-size: 2rem;
		text-align: center;
	}

	.plan-el p {
		margin: 0.5em 0 0.5em 0.7em;
		line-height: 1.7rem;
	}

	.plan-select h2 {
		font-size: 3rem;
	}

	.map-header {
		padding: 3em 0;
	}

	.reviews-container {
		padding-bottom: 10em;
	}

	p,
	h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 750px) {
	.reviews-text p {
		width: 80%;
		margin: auto;
	}

	.rev-desc {
		line-height: 1.3rem;
	}

	.rev-card {
		max-width: 60%;
	}

	.info-div {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.info-element {
		padding: 2.5em 0;
	}

	.feature-left img {
		width: 100%;
	}

	.feature-p-container {
		display: flex;
		flex-direction: column;
	}

	.subscribe-text h2 {
		text-align: center;
		width: 90%;
		margin: 1em auto;
		line-height: inherit;
	}

	.subscribe-container {
		flex-direction: column;
		text-align: center;
		padding: 2em;
	}

	.footer-container {
		flex-direction: column;
		padding: 0;
	}

	.footer-lighter {
		text-align: center;
	}

	.footer-right {
		margin-top: 2em;
	}

	.footer-right h2 {
		font-size: 1rem;
	}

	.footer-col {
		align-items: center;
		flex: 1;
	}
}

.nav-active {
	transform: translateX(0%);
}
